<header class="header">
    <div class="header__container container">
        <div class="header__logo">H2O</div>
        <nav class="header__nav">
            <a href="#" class="header__nav-item">Home</a>
            <a href="#" class="header__nav-item">About</a>
            <a href="#" class="header__nav-item">Contact</a>
        </nav>
    </div>
</header>