{{!< default}}

<div style="background: lightgreen; padding: 20px;">
    <h1>THIS IS INDEX.HBS - BLOG LISTING PAGES</h1>
    {{#foreach posts}}
        <article>
            <h2><a href="{{url}}">{{title}}</a></h2>
        </article>
    {{/foreach}}
    {{pagination}}
</div>